In [2]:
import pandas as pd

df = pd.read_csv("../data/cleaned_data.csv")
df['Date'] = pd.to_datetime(df['Date'])

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.day_name()
df['Is_Weekend'] = df['Date'].dt.weekday >= 5

df.to_csv("../data/final_data.csv", index=False)

df.head()

,Date,Store_ID,Store_Location,Product_ID,Product_Category,Product_Subcategory,Brand,Unit_Price,Units_Sold,Total_Sales,...,Payment_Mode,Promotion_Applied,Stock_On_Hand,Store_Rating,Region,Holiday_Flag,Year,Month,DayOfWeek,Is_Weekend
0,2023-04-13,STR_104,Chennai,PRD_072,Sports,Athletics,Reebok,29973.06,39,1168949.34,...,Debit Card,Yes,422,4.4,South,0,2023,4,Thursday,False
1,2024-10-25,STR_103,Delhi,PRD_492,Sports,Outdoor,Yonex,46933.78,2,93867.56,...,UPI,No,302,4.1,North,0,2024,10,Friday,False
2,2023-02-28,STR_107,Kolkata,PRD_958,Groceries,Household,Nestle,39280.28,44,1728332.32,...,Cash,No,184,3.8,East,0,2023,2,Tuesday,False
3,2023-06-16,STR_102,Bangalore,PRD_014,Home Appliances,Kitchen,Whirlpool,40439.03,9,363951.27,...,UPI,Yes,493,3.7,South,0,2023,6,Friday,False
4,2024-05-23,STR_108,Ahmedabad,PRD_932,Fashion,Women Clothing,Puma,9193.58,4,36774.32,...,Credit Card,No,359,3.5,West,0,2024,5,Thursday,False