In [2]:
import pandas as pd
from sklearn.cluster import KMeans
import joblib

df = pd.read_csv("../data/final_data.csv")

store_data = df.groupby('Store_ID').agg({
    'Revenue':'sum',
    'Units_Sold':'sum',
    'Store_Rating':'mean'
})

kmeans = KMeans(n_clusters=3, random_state=42)
store_data['Cluster'] = kmeans.fit_predict(store_data)

joblib.dump(kmeans, "../models/kmeans_store_segmentation.pkl")

store_data.head()

               Revenue  Units_Sold  Store_Rating  Cluster
Store_ID
STR_101   5.169675e+09      226670      4.250183        2
STR_102   5.186277e+09      228384      4.250981        2
STR_103   5.223064e+09      229475      4.250714        0
STR_104   5.165937e+09      228580      4.250501        2
STR_105   5.161899e+09      227715      4.245418        2